/* Sidebar start */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(160px - 32px);
  height: 100vh;
  padding-top: 32px;
  padding-left: 32px;
  z-index: 100;
}

.sidebar > * {
  margin-bottom: 30px;
}

.sidebar .menu .h4 {
  margin-bottom: 12px;
}

.about_sidebar { background-image: url("../images/about_sidebar.png");  }
.seminars_sidebar { background-image: url("../images/seminars_sidebar.png");  }
.conferences_sidebar { background-image: url("../images/conferences_sidebar.png");  }
.contacts_sidebar { background-image: url("../images/contacts_sidebar.png");  }


.container_main_page nav .about:hover,
.container_main_page nav .seminars:hover,
.container_main_page nav .conferences:hover,
.container_main_page nav .contacts:hover {
  background-repeat: no-repeat;
  background-size: cover;
}

.container_main_page nav .about:hover { background-image: url("../images/about.png"); }
.container_main_page nav .seminars:hover { background-image: url("../images/seminars.png"); }
.container_main_page nav .conferences:hover { background-image: url("../images/conferences.png"); }
.container_main_page nav .contacts:hover { background-image: url("../images/contacts.png"); }

.shop_gradient,
.container_main_page nav .shop:hover, .cloths img:hover,
.txt_a:hover, .txt_b:hover, .txt_c:hover, .txt_d:hover {
 background: linear-gradient(180deg, #115383 0%, #FFAB7C 100%);
}

/* Sidebar end */

/* FOOTER START */
footer {
  position: relative;
  bottom: 0;
  margin-top: 220px;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .h4 a {
  display: inline;
  margin-left: 12px;
}

/* FOOTER END */

/* CONTACTS */
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts a {
  margin-right: 12px;
}

.contacts a:hover {
  color: white;
  transition-duration: 120ms, 120ms;
}

.contact .social {
  display: flex;
  flex-direction: column;
}

.contact input {
  width: 512px;
  outline: none;
  background: transparent;
  border: 0;
}

.contact input:active,
.contact input:hover,
.contact input:focus {
  color: white;
  border-bottom: 3px solid white;
}

.contact input:active::placeholder,
.contact input:focus::placeholder,
.contact input:hover::placeholder {
  color: white;
  border-bottom: 0;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
.contact input:not(:focus) {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

input:invalid {
  color: red;
  border-bottom: 3px solid red;
}

/* CONTACTS END */


/* CONTACTS CARDS */

.contact_card {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.contact_card img {
  margin-right: 162px;
}

.contact_card .contact {
  display: flex;
  flex-direction: column;
}

.contact_card .contact h4 span {
  margin-left: 12px;
}

a.email {
  margin-top: 32px;
  color: white;
}

/* CONTACTS CARDS END */

/* STRIPER START ДЛЯ ЗДАНИЙ */

.stripes {
  display: flex;
  flex-wrap: wrap;
}

.stripes img {
  width: 272px;
  margin-bottom: 16px;
}

.stripes a:hover {
 color: linear-gradient(180deg, #115383 0%, #FFAB7C 100%);
 cursor: pointer;
 /* background-repeat: no-repeat; */
 /* РАЗМЕР ФОНОВОЙ ПЛАШКИ */
  background-size: 100% 100px;
  background-position: 0px 50%;
}


/* STRIPER END */

/* MACBOOK START */

.macbook {
  position: relative;
  background-image: url("../images/macbook.png");
  width: inherit;
  min-height: 643px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

video:first-child {
  margin-left: 8px;
}

/* EVENTS */
.event { margin-top: 96px; }
.event .event_header { margin-bottom: 16px; }

/* + ARTICLES */
.event_header,
.article_header {
  display: flex;
  justify-content: space-between;
}

.event_header h4 span {
  padding-left: 16px;
}

.event_header h4 span:first-child {
  padding-left: 0;
}

/* ARTICLES — Статьи */

.article_header img { width: 928px; }

/* BOOK */
.book {
  position: relative;
  width: 5506px;
  margin-right: 112px;
}

.bookmark {
  position: fixed;
  top: 0;
  left: 256px;
  width: 16px;
  height: 100vh;
}

/* CLOTHS */

.cloths img {
  width: 360px;
  height: 400px;
  -o-object-fit: none;
  object-fit: none;
}

.cloths img:hover {
  cursor: pointer;
  background-repeat: no-repeat;
  /* РАЗМЕР ФОНОВОЙ ПЛАШКИ */
  background-size: 100% 100px;
  background-position: 0px 50%;
}


/* JOIN US */

.anketa {
  margin-top: 56px;
  margin-bottom: 12px;
}

p.anketa {
  margin-top: 44px;
}

.anketa input,
.anketa select {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 16px;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  color: white;
}

.horizontal {
  display: block;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.anketa select {
  margin-right: 36px;
  color: rgba(255, 255, 255, 0.4);
}

.container > p.anketa {
  align-self: center;
}

/* PRODUCT */

.product {
  height: 416px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}

.product_img {
  width: 416px;
  height: 416px;
  margin-right: 44px;
  /* background-image: url(../images/product_img.png); */
  background-repeat: no-repeat;
}

.product_txt {
  width: 752px;
  height: 416px;
}

.buy { height: 276px; }
.buy > * { display: inline-block; }

.txt_a { margin-right: 88px; }
.txt_b, .items { margin-right: 20px; }
.txt_c { margin-right: 15px; }

.txt_a:hover, .txt_b:hover, .txt_c:hover, .txt_d:hover {
  padding-top: 6px;
  margin-top: -6px;
  cursor: pointer;
  height: 276px;
}
}
