@font-face {
  font-family: "Arimo-Bold";
  src: url("../fonts/Arimo/Arimo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Arimo-Regular";
  src: url("../fonts/Arimo/Arimo-Regular.ttf") format("truetype");
}

/* BASE FONTS  */
a, a:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h4, .h4, a.h4 {
  font-family: "Arimo-Bold";
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* .container h4 {
  padding-bottom: 54px;
  padding-top: 54px;
} */

p, .p, a, li, input {
  font-family: "Arimo-Regular";
  font-size: 44px;
  line-height: 54px;
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Arimo-Regular";
  font-size: 44px;
  line-height: 54px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.article_header a.p,
.sidebar .menu .h4 {
  color: rgba(255, 255, 255, 0.4);
}

.article_header .p:hover { color: white; }

p {
  padding-bottom: 44px;
}

h1 {
  padding-bottom: 44px;
}
ul {
  padding-bottom: 10px;
}

/* SIDEBAR FONTS  */

.sidebar .menu .active {
  color: #FFFFFF;
  text-decoration: none;
}
